<nav class="navbar navbar-expand-lg bg-info">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">E-shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/products">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
               </ul>
           <form class="d-flex">
            <button class="btn btn-primary round-button mx-2 name" *ngIf="isLoggedIn"><i class="bi bi-person-circle mx-1"></i>{{userInfo.name}}</button>
            <button class="btn btn-outline-primary round-button mx-2" type="button"
             *ngIf="!isLoggedIn" routerLink="/login">Login</button>
            <button class="btn btn-success round-button" type="button" 
            *ngIf="!isLoggedIn" routerLink="/signup">SignUp</button>
            
            <button class="btn btn-dander" *ngIf="isLoggedIn" (click)="Logoff()">Logout</button>
          </form>
            </div>
          </div>
        </nav>
      