<div class="model-body bg-success">
  <div class="container ">
      <div class="row">
          <div class="col-5 label">
            <label for="_id">_id</label>
              <input id="_id" [(ngModel)]="productobj._id"  name="_id" type="_id" class="form-control" required>

              <label for="store_id">Store_Id</label>
              <input id="store_id" [(ngModel)]="productobj.store_id" name="store_id" type="store_id" class="form-control" required>

              <label for="vendorName">VendorName</label>
              <input id="vendorName" [(ngModel)]="productobj.vendorName" name="vendorName" type="text" class="form-control" required>
              
              <label for="name">Name</label>
              <input id="name" [(ngModel)]="productobj.name" name="name" type="text" class="form-control" required>

              <label for="productDescription">ProductDescription</label>
              <input id="productDescription" [(ngModel)]="productobj.productDescription" name="productDescription" type="text" class="form-control" required>
              
              <label for="price">Price</label>
              <input id="price" [(ngModel)]="productobj.price" name="productDescription" type="price" class="form-control" required>
              
              <label for="categoryName">CategoryName</label>
              <input id="categoryName" [(ngModel)]="productobj.categoryName" name="categoryName" type="text" class="form-control" required>
              
              <label for="deliveryTimeSpan">deliveryTimeSpan</label>
              <input id="deliveryTimeSpan" [(ngModel)]="productobj.deliveryTimeSpan" name="deliveryTimeSpan" type="text" class="form-control" required>
              
              <label for="sub_cat_name">sub_cat_name</label>
              <input id="sub_cat_name" [(ngModel)]="productobj.sub_cat_name" name="sub_cat_name" type="text" class="form-control" required>
              
              <label for="images">Images</label>
              <input id="images" [(ngModel)]="productobj.images" name="images" type="text" class="form-control" Image>
          </div>
      </div>
      <div class="model-footer">
          <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
      </div>
  </div>