.img-fluid{
          width: 45px;
          height: 35px;
}
.input-group{
          color: white;
}
.form-control{
          color: white;
          text-align: right;
          background-color: blueviolet;
          border: none;
          font-size: 30px;
          
}